
<link href="~/css/Indexx.css" rel="stylesheet" />

<header class="light-bb">
    <nav class="header toolbar toolbar--dense toolbar--fixed elevation-1 pl-2 pr-2" style="margin-top: 0px; padding-right: 0px; padding-left: 0px; transform: translateY(0px);" data-booted="true">
        <div class="toolbar__content" style="height: 48px;">
            <a href="/" class="header-logo mr-4 mb-1 router-link-active"><svg viewBox="0 0 82 19" xmlns="http://www.w3.org/2000/svg" width="89" height="21"><g fill-rule="evenodd"><path d="M6.929 18.167c-1.987 0-3.638-.653-4.954-1.958C.658 14.904 0 13.311 0 11.43v-.05C0 9.5.663 7.9 1.987 6.576c1.325-1.319 2.988-1.98 4.992-1.98 1.854 0 3.369.487 4.544 1.458.398.31.596.731.596 1.264 0 .456-.165.843-.496 1.17a1.673 1.673 0 0 1-1.217.486c-.414 0-.778-.124-1.093-.365-.728-.551-1.515-.827-2.36-.827-.926 0-1.696.349-2.309 1.046-.612.695-.919 1.53-.919 2.505v.047c0 1.021.31 1.878.932 2.567.62.69 1.436 1.034 2.446 1.034.877 0 1.705-.302 2.483-.902a1.72 1.72 0 0 1 1.018-.34c.447 0 .824.156 1.13.464.307.306.46.68.46 1.119 0 .451-.182.843-.546 1.167-1.259 1.119-2.832 1.678-4.719 1.678M21.035 14.98c1.043 0 1.88-.34 2.508-1.021s.944-1.524.944-2.53v-.048c0-.99-.327-1.837-.98-2.542s-1.495-1.058-2.522-1.058c-1.043 0-1.879.34-2.508 1.022-.63.68-.944 1.524-.944 2.53v.048c0 .989.327 1.836.981 2.541.654.705 1.494 1.058 2.521 1.058m5.103 1.216c-1.382 1.313-3.1 1.97-5.153 1.97s-3.762-.653-5.128-1.958-2.049-2.898-2.049-4.779v-.048c0-1.897.691-3.503 2.074-4.816s3.1-1.97 5.153-1.97c2.053 0 3.762.653 5.128 1.958s2.05 2.898 2.05 4.779v.049c0 1.897-.692 3.502-2.075 4.815M31.117 16.172v-9.63c0-.52.186-.957.559-1.314.372-.357.815-.535 1.328-.535s.956.178 1.329.535c.372.357.559.794.559 1.313v9.631c0 .519-.187.959-.559 1.313-.373.357-.815.535-1.329.535s-.956-.178-1.328-.535a1.744 1.744 0 0 1-.559-1.313m-.224-14.397v-.049c0-.518.2-.936.597-1.252.397-.316.902-.472 1.514-.472.613 0 1.118.156 1.515.472.398.316.596.734.596 1.252v.049c0 .519-.198.94-.596 1.267-.397.324-.902.484-1.515.484-.612 0-1.117-.16-1.514-.484a1.562 1.562 0 0 1-.597-1.267M38.443 16.172v-9.63c0-.52.182-.957.546-1.314.365-.357.812-.535 1.341-.535s.977.178 1.342.535c.364.357.546.794.546 1.313v.146c1.11-1.394 2.409-2.091 3.899-2.091 1.424 0 2.533.43 3.328 1.289.794.861 1.192 2.043 1.192 3.55v6.737c0 .519-.187.959-.56 1.313-.372.357-.814.535-1.328.535s-.956-.178-1.328-.535a1.744 1.744 0 0 1-.559-1.313v-5.57c0-.859-.199-1.515-.596-1.97-.397-.451-.96-.68-1.689-.68s-1.304.229-1.726.68c-.422.455-.633 1.111-.633 1.97v5.57c0 .519-.182.959-.546 1.313-.365.357-.812.535-1.341.535s-.977-.178-1.342-.535a1.764 1.764 0 0 1-.546-1.313" fill="#05f"></path> <path d="M55.156 17.874c-.53 0-.969-.136-1.316-.413a1.302 1.302 0 0 1-.522-1.069v-.075c0-.597.282-1.197.845-1.797l6.183-6.69h-5.265c-.43 0-.794-.144-1.092-.438a1.405 1.405 0 0 1-.447-1.044c0-.423.153-.778.46-1.072.305-.29.666-.438 1.08-.438h8.27c.53 0 .968.14 1.315.414.348.276.522.632.522 1.07v.073c0 .6-.281 1.202-.844 1.802l-6.209 6.686h5.513c.43 0 .795.152 1.093.45.298.302.447.652.447 1.06 0 .405-.15.753-.447 1.043a1.494 1.494 0 0 1-1.093.438h-8.493zM74.105 14.98c1.043 0 1.88-.34 2.508-1.021.63-.681.944-1.524.944-2.53v-.048c0-.99-.327-1.837-.98-2.542s-1.495-1.058-2.522-1.058c-1.043 0-1.879.34-2.508 1.022-.63.68-.944 1.524-.944 2.53v.048c0 .989.327 1.836.981 2.541.654.705 1.494 1.058 2.521 1.058m5.103 1.216c-1.382 1.313-3.1 1.97-5.153 1.97s-3.762-.653-5.128-1.958-2.049-2.898-2.049-4.779v-.048c0-1.897.691-3.503 2.074-4.816s3.1-1.97 5.153-1.97c2.053 0 3.762.653 5.128 1.958s2.05 2.898 2.05 4.779v.049c0 1.897-.692 3.502-2.075 4.815" fill="#05f"></path></g></svg></a> <div class="layout ma-0 advanced-ticker row align-center desktop-only">
                <div class="menu" style="display: inline-block;">
                    <div class="menu__activator">
                        <button type="button" class="ticker-activator btn btn--flat">
                            <div class="btn__content">
                                <svg viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="coin-icon mr-2"><circle cx="11" cy="11" r="11" fill="#F7931A"></circle> <path d="M15.942 9.639c.216-1.441-.882-2.216-2.382-2.733l.487-1.952-1.188-.296-.475 1.9c-.312-.078-.632-.15-.952-.223l.478-1.914-1.188-.296-.487 1.952c-.258-.06-.513-.117-.759-.179l.001-.006-1.639-.41-.316 1.27s.882.202.864.214c.48.12.568.44.553.692l-.554 2.224c.033.008.076.02.124.04l-.126-.032-.777 3.116c-.06.146-.208.365-.545.282.012.017-.864-.215-.864-.215l-.59 1.36 1.547.386c.288.072.57.147.847.218l-.492 1.975 1.187.295.487-1.952c.325.087.64.168.948.245l-.486 1.944 1.188.296.492-1.97c2.027.383 3.55.229 4.191-1.604.517-1.476-.025-2.327-1.091-2.882.777-.179 1.36-.69 1.517-1.745zm-2.716 3.807c-.366 1.476-2.851.678-3.657.478l.653-2.616c.806.202 3.389.6 3.004 2.138zm.368-3.829c-.335 1.343-2.403.66-3.073.493l.591-2.371c.67.167 2.831.478 2.482 1.878z" fill="#fff"></path></svg>
                                BTC / TRY
                                <i aria-hidden="true" class="icon material-icons">arrow_drop_down</i>
                            </div>
                        </button>
                    </div>
                </div> <span class="pl-2 part" id="stock-price1">

                    <span class="caption">TRY</span><br> <span class="grey--text desc">Son Fiyat</span>
                </span> <span class="pl-4 part success--text">
                    0
                    <span class="caption">TRY</span> <span class="caption">(0%)</span><br> <span class="grey--text desc">24s. Değişim</span>
                </span>  <span class="pl-4 part">
                    <span class=" has-tooltip">
                        0.02
                        <span class="caption">BTC</span>
                    </span><br> <span class="grey--text desc">24s. Hacim</span>
                </span>
            </div> <div class="spacer"></div> <button type="button" class="mobile-only toolbar__side-icon btn btn--icon"><div class="btn__content"><i aria-hidden="true" class="icon material-icons">menu</i></div></button> <button type="button" class="desktop-only btn btn--flat btn--small"><div class="btn__content"><i aria-hidden="true" class="icon mr-1 material-icons" style="font-size: 16px;">subdirectory_arrow_left</i> Basit Mod</div></button> <button type="button" class="desktop-only login-button btn btn--flat"><div class="btn__content">KAYIT OL</div></button> <button type="button" class="desktop-only login-button btn btn--depressed secondary"><div class="btn__content btn-primary">GİRİŞ YAP</div></button> <div class="menu desktop-only language-menu" style="display: inline-block;">
                <div class="menu__activator">
                    <button type="button" class="btn btn--flat">
                        <div class="btn__content">
                            tr
                            <i aria-hidden="true" class="icon material-icons">arrow_drop_down</i>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid mtb15 no-fluid">
    <div class="row sm-gutters">

        <div class="col-md-6">
            <div class="main-chart mb15">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div id="tradingview_9278a"></div>
                </div>
            </div>
        </div>
        <div id="wrapper" class="col-md ">
            <div id="left" class="order-book mb15 col-md">
                <h2 class="heading">Emirler</h2>
                <table class="table" id="Orders">
                    <thead>
                        <tr>
                            <th>Fiyat(BTC)</th>
                            <th>Toplam(BTC)</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>


            <div id="right" class="market-trade col-md-6">
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#pills-trade-limit" role="tab" aria-selected="true">Limit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#pills-market" role="tab" aria-selected="false">Market</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#pills-stop-limit" role="tab" aria-selected="false">
                            Stop
                            Limit
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#pills-stop-market" role="tab" aria-selected="false">
                            Stop
                            Market
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-trade-limit" role="tabpanel">
                        <div class="d-flex justify-content-between">
                            <div class="market-trade-buy">
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Fiyat">
                                    <div class="input-group-append">
                                        <span class="input-group-text">BTC</span>
                                    </div>
                                </div>

                                <ul class="market-trade-list">
                                    <li><a href="#!">25%</a></li>
                                    <li><a href="#!">50%</a></li>
                                    <li><a href="#!">75%</a></li>
                                    <li><a href="#!">100%</a></li>
                                </ul>

                                <button class="btn buy">Buy</button>
                            </div>
                            <div class="market-trade-sell">
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Fiyat">
                                    <div class="input-group-append">
                                        <span class="input-group-text">BTC</span>
                                    </div>
                                </div>

                                <ul class="market-trade-list">
                                    <li><a href="#!">25%</a></li>
                                    <li><a href="#!">50%</a></li>
                                    <li><a href="#!">75%</a></li>
                                    <li><a href="#!">100%</a></li>
                                </ul>

                                <button class="btn sell">Sell</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-market" role="tabpanel">
                        <div class="d-flex justify-content-between">
                            <div class="market-trade-buy">
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Fiyat">
                                    <div class="input-group-append">
                                        <span class="input-group-text">BTC</span>
                                    </div>
                                </div>

                                <ul class="market-trade-list">
                                    <li><a href="#!">25%</a></li>
                                    <li><a href="#!">50%</a></li>
                                    <li><a href="#!">75%</a></li>
                                    <li><a href="#!">100%</a></li>
                                </ul>

                                <button class="btn buy">Buy</button>
                            </div>
                            <div class="market-trade-sell">
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Fiyat">
                                    <div class="input-group-append">
                                        <span class="input-group-text">BTC</span>
                                    </div>
                                </div>

                                <ul class="market-trade-list">
                                    <li><a href="#!">25%</a></li>
                                    <li><a href="#!">50%</a></li>
                                    <li><a href="#!">75%</a></li>
                                    <li><a href="#!">100%</a></li>
                                </ul>

                                <button class="btn sell">Sell</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-stop-limit" role="tabpanel">
                        <div class="d-flex justify-content-between">
                            <div class="market-trade-buy">
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Fiyat">
                                    <div class="input-group-append">
                                        <span class="input-group-text">BTC</span>
                                    </div>
                                </div>

                                <ul class="market-trade-list">
                                    <li><a href="#!">25%</a></li>
                                    <li><a href="#!">50%</a></li>
                                    <li><a href="#!">75%</a></li>
                                    <li><a href="#!">100%</a></li>
                                </ul>

                                <button class="btn buy">Buy</button>
                            </div>
                            <div class="market-trade-sell">
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Fiyat">
                                    <div class="input-group-append">
                                        <span class="input-group-text">BTC</span>
                                    </div>
                                </div>

                                <ul class="market-trade-list">
                                    <li><a href="#!">25%</a></li>
                                    <li><a href="#!">50%</a></li>
                                    <li><a href="#!">75%</a></li>
                                    <li><a href="#!">100%</a></li>
                                </ul>

                                <button class="btn sell">Sell</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-stop-market" role="tabpanel">
                        <div class="d-flex justify-content-between">
                            <div class="market-trade-buy">
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Fiyat">
                                    <div class="input-group-append">
                                        <span class="input-group-text">BTC</span>
                                    </div>
                                </div>

                                <ul class="market-trade-list">
                                    <li><a href="#!">25%</a></li>
                                    <li><a href="#!">50%</a></li>
                                    <li><a href="#!">75%</a></li>
                                    <li><a href="#!">100%</a></li>
                                </ul>

                                <button class="btn buy">Buy</button>
                            </div>
                            <div class="market-trade-sell">
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Fiyat">
                                    <div class="input-group-append">
                                        <span class="input-group-text">BTC</span>
                                    </div>
                                </div>

                                <ul class="market-trade-list">
                                    <li><a href="#!">25%</a></li>
                                    <li><a href="#!">50%</a></li>
                                    <li><a href="#!">75%</a></li>
                                    <li><a href="#!">100%</a></li>
                                </ul>

                                <button class="btn sell">Sell</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market-history">
                    <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#recent-trades" role="tab" aria-selected="true">Market Geçmişi</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="recent-trades" role="tabpanel">
                            <table class="table" id="History">
                                <thead>
                                    <tr>
                                        <th>Time</th>
                                        <th>Fiyat(BTC USD)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="  DisplayBTC">
        <div>
            <div class="layout ma-0 price-layout row align-center justify-center">
                <span class="text-xs-right last-price" id="stock-price2" style="font-size:large;font:600">

                </span>
                <p class="text-xs-right caption  mb-0 ml-2" id="stock-price" style="font-size:large;font:600"></p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="market-history market-order mt15">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#open-orders" role="tab" aria-selected="true">
                        Açık Emirler
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#stop-orders" role="tab" aria-selected="false">
                        Emir Geçmişi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#order-history" role="tab" aria-selected="false">
                     
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#trade-history" role="tab" aria-selected="false"></a>
                </li>
            </ul>
            <div class="tab-content"  style="margin-top:5rem">
                <div class="layout ma-0 row justify-center align-center fill-height "><button type="button" class="btn btn--depressed secondary" style=""><div class="btn__content btn-primary">GİRİŞ YAP</div></button> <button type="button" class="btn btn--flat" style="position: relative;"><div class="btn__content">KAYIT OL</div></button></div>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script src="~/js/Index.js"></script>


